
body {
    padding-top: 3rem !important;
}

/*
 * jQuery-UI hack for Bootstrap modal
 */
.ui-front {
    z-index: 999999 !important;
}

.leaflet-map {
    height: 300px;
}
.leaflet-map-big {
    height: 400px;
}
.leaflet-popup-content-wrapper {
    color: #fff !important;
    background-color: #212529 !important;
    min-height: 123px !important;
    width: 234px !important;
}
.leaflet-popup-tip {
    background-color: #212529 !important;
}
.leaflet-popup-close-button {
    padding: 8px 12px 0 0 !important;
}